body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  color: white;
}

h1, h2, h3 {
  font-weight: bold;
}

.btn-nav {
  color: white;
}

#newyork {
  color: white;
  background-image: url("/Users/it/broadway/resources/images/the-flatiron-building.png");
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}

#header {
  background-image: url("/Users/it/broadway/resources/images/the-flatiron-building.png");
}
